<section >
    <article class="imgg">

  <div class="row">


    <!-- <div class="row"> -->
  <nav class="mask">
    <img src="../../assets/images/EXPLORE TON POTENTIEL (5).png"  class="logo">
         <!-- </a>  -->

<!--
      <ul class="list">
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <button class="search">Search</button>
      <button class="menu">Menu</button> -->
    </nav>
<!--
    <button type="button" class="bou">se connecter </button> -->
    </div>



    </article>
    </section>

<div class="container position-relative" style="top:-50px;">
  <div class="heading"></div>
  <form class="form" [formGroup]="forminput">
    <img src="./../../assets/images/formateurrrrrr.jpg" class="image">

    <input required class="input" type="email" name="email" id="email" placeholder="Email" formControlName="email" [(ngModel)]="email">
    <div *ngIf="forminput.get('email')?.invalid && (forminput.get('email')?.dirty || forminput.get('email')?.touched)">
      <div class="alert alert-danger" *ngIf="forminput.get('email')?.errors?.['required']">
        Champs requis !
      </div>
      <div class="alert alert-danger" *ngIf="forminput.get('email')?.errors?.['email']">
        Type email requis.
      </div>
    </div>

    <input required class="input" type="password" name="password" id="password" placeholder="Mot de passe" formControlName="password" [(ngModel)]="password">
    <div *ngIf="forminput.get('password')?.invalid && (forminput.get('password')?.dirty || forminput.get('password')?.touched)">
      <div class="alert alert-danger" *ngIf="forminput.get('password')?.errors?.['required']">
        Champs requis !
      </div>
      <div class="alert alert-danger" *ngIf="forminput.get('password')?.errors?.['minlength']">
        Le mot de passe doit contenir au moins 8 caractères.
      </div>
    </div>
<br>
    <!-- <span class="forgot-password"><a href="#">Mot de passe oublié ?</a></span> -->
    <input class="login-button" type="submit" value="Se connecter" (click)="seconnecter()">

    <div *ngIf="formSubmitted" class="alert alert-info">
      {{ submissionMessage }}
    </div>
  </form>
  <button class="btn btn-primary float-center w-100 rounded-pill p-2 fs-5 font-weight-bold accueil-button" routerLink="/home">Accueil</button>
</div>
