<app-home-header></app-home-header>
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%; border-radius: 10px;">
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
      class="forgot-password-form"
    >
      <div class="mb-3">
        <label for="newPassword" class="form-label">Entrez votre nouveau mot de passe :</label>
        <input
          id="newPassword"
          formControlName="newPassword"
          type="password"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Réinitialiser le mot de passe</button>
    </form>
  </div>
</div>
