<div>
  <app-formateur-menu></app-formateur-menu>

  <section>
    <div class="container">
      <form class="form">
        <div>
          <label for="nomCours">Nom du Cours</label>
          <input
            class="input"
            type="text"
            id="nomCours"
            placeholder="Nom de cours"
            [(ngModel)]="nomCours"
            name="nomCours"
            required
          />
        </div>

        <div class="mt-1">
          <label class="font-bold" for="description">Description</label>
          <textarea
            class="input"
            id="description"
            placeholder="Description"
            [(ngModel)]="description"
            name="description"
          ></textarea>
        </div>

        <input type="hidden" name="idCycle" [(ngModel)]="idCycle" />

        <div class="formm w-100">
          <label for="file-input" class="drop-container p-2">
            <span class="form-title">Déposez vos fichiers</span>
            <input
              class="p-2"
              type="file"
              id="file-input"
              (change)="onFileChange($event)"
              accept=".pdf,.doc,.docx,.ppt,.pptx,.zip,.rar"
              multiple
              required
            />
          </label>
        </div>

        <input
          class="login-button"
          type="submit"
          value="Enregistrer"
          (click)="uploadFiles()"
        />
      </form>

      <p>{{ message }}</p>
    </div>
  </section>
</div>
