/* Additional custom styles if needed */
.table {
    margin-bottom: 20%;
    /* background-color: #fffec2; */
    color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 20px;
    background: #faf8f8;
    box-shadow: 35px 35px 100px #cacaca,
      -35px -35px 100px #f6f6f6;
    font-family: cursive;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #f9f9f9;
}

.alert {
  margin-top: 20px;
}
td {
  border: 2px solid #d7d7d7;
}

th {
  background-color: #000000;
  border: 2px solid #a2a2a2;
  color: rgb(180, 180, 180);
  font-family: 'Brush Script MT';
  font-size: 185%;
}
