.button {
  --color: #e9e9e9;
  padding: 0.8em 1.7em;
  background-color: #020071;
  /* background-color: transparent; */
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 20px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  font-family: cursive;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 10%;

}

.button::before,
.button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(.8);
}

button {
  margin-left: 40%;
}

.timee {
  width: 50%;
  height: 160%;
  border-radius: 54px;

  background: #f4f6ea;
  box-shadow: 12px 12px 23px #7d7d7d,
    -12px -12px 23px #ffffff;
  margin-left: 25%;
  margin-bottom: 40px;;
}
