<app-formateur-menu></app-formateur-menu>

<div class="container">
<div class="sea" >
    <!-- <form class="d-flex" role="search" >
      <input class="form-control me-2" type="search" placeholder="search..." aria-label="Search" >
      <button class="btn btn-outline-success" type="submit" class="search">Rechercher</button>
    </form> -->
    <div  *ngIf="formateurconnecte">
      <h1>Bienvenue {{formateurconnecte.nomEtPrenom}} !</h1>
     </div>
  </div>


    <img src="./../../assets/images/vector.jpg">
  </div>