<app-home-header></app-home-header>

<!-- Container to center the forgot-password card -->
<div class="container">
  <div class="card">
    <div class="card-header">Mot de passe oublié ?</div>
    <div class="card-body">
      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmit()"
        class="forgot-password-form"
      >
        <div class="form-group">
          <label for="email" class="form-label">Entrer votre email:</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Envoyer le lien de réinitialisation</button>
      </form>
    </div>
  </div>
</div>
