

<section>
    <!-- <section id="first" class="story" data-speed="8" data-type="background">
      <div class="smashinglogo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>
  </section> -->
    <div class="sidebar">
       <!-- <a class="navbar-brand" href="#"> -->
   <a (click)="accformateur()">  <img src="../../assets/images/EXPLORE TON POTENTIEL (5).png" alt="" width="60" height="60" class="logo"></a>  
         <!-- </a>  -->



    
     

        <ul class="barre">

            <div class="title">
      
                                            <br>
                <!-- <button ><i class='bx bx-book-add bx-tada' ></i><span>Ajouter un cours</span></button>  -->
              <button (click)="gotocycledeformateur()" class="m-1" ><i class='bx bx-book-add bx-hover  bx-tada bx-flip-horizontal' ></i>Liste des cycles</button>
              <br>
              <button class="m-1"  (click)="listCoursFormateur()" >
                <i   class='bx bxs-book bx-hover  bx-tada bx-flip-horizontal' ></i><span>Liste de cours</span>


          </button>

            <!-- <br><br>
            <button (click)="">

                <i class='bx bx-group bx-tada bx-flip-horizontal' ></i>
                <span>Liste de participant</span>
            </button>
            <br><br>
      <button (click)=""><i class='bx bx-book-add bx-tada' ></i>Liste des cycles</button> -->
      <br>
        <button class="m-1" (click)="goToCompte()" ><i class='bx bxs-user bx-tada bx-flip-horizontal' ></i>Mon compte</button>
        <button class="m-1" (click)="deconnection()"><i class='bx bx-user bx-tada bx-flip-horizontal' ></i>Déconnexion</button>
    </div>



        </ul>
    </div>
</section>


